<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}

        {% if refresh_rate is defined and refresh_rate is not none %}  
        <meta http-equiv="refresh" content="{{ refresh_rate }}"> 
        {% endif %}

        <script>
            $(document).ready(function() {

                alias="{{alias}}"

                $( document ).tooltip();

                function change_alias() {
                    $("#change_alias_form").submit();
                    change_alias_dialog.dialog( "close" );
                }
                change_alias_dialog = $( "#change-alias-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "Save": change_alias,
                        Cancel: function() {
                            change_alias_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#alias").val(alias)
                        $("#password_change_alias").val("")
                    }
                });
                $("#change_alias").on("click", function() {
                    change_alias_dialog.dialog( "open" );
                });

                function pair_wallet_submit() {
                    $("#pair_wallet_form").submit();
                    pair_wallet_dialog.dialog( "close" );
                }
                pair_wallet_dialog = $( "#pair-wallet-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "View": pair_wallet_submit,
                        Cancel: function() {
                            pair_wallet_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#password_pair_wallet").val("")
                    }
                });
                $("#pair_wallet").on("click", function() {
                    pair_wallet_dialog.dialog( "open" );
                });

                $("#pair_wallet_form").on("submit", function() {
                    pair_wallet_dialog.dialog( "close" );
                });

                $("#rtl").on("click", function() {
                    port="3010"
                    if (location.protocol == "https:") {
                        port="3011"
                    }
                    url = location.protocol+'//'+location.hostname+':'+port
                    window.open(url,'_blank');
                })

                $("#thunderhub").on("click", function() {
                    port="3030"
                    if (location.protocol == "https:") {
                        port="3031"
                    }
                    url = location.protocol+'//'+location.hostname+':'+port
                    window.open(url,'_blank');
                })

                $("#lit").on("click", function() {
                    url = 'https://'+location.hostname+':8443'
                    window.open(url,'_blank');
                })

                $("#show_lit_password").on("click", function() {
                    $("#show_lit_password").hide(0);
                    $("#lit_password").show();
                });
                $("#copy_lit_password").on("click", function() {
                    navigator.clipboard.writeText("{{lit_password}}").then(function() {
                        showAlertPopup("alert_popup", "<b>Password copied!</b>");
                    }, function() {
                        showAlertPopup("alert_popup", "<b>Password copy failed!</b>");
                    });
                });
                if (location.protocol == 'https:') {
                    $("#copy_lit_password").show();
                }

                function show_deposit_address(addr) {
                    $("#lnd_deposit_address_text").html( addr );
                    $("#lnd_deposit_address_qrcode").attr("src", "/api/get_qr_code_image?url="+addr);
                    $("#lnd_deposit_address_qrcode").attr("title", addr);
                }
                $("#gen_new_address_button").on("click", function() {
                    $.get( "/lnd/api/get_new_lnd_deposit_address", function( data ) {
                        $("#gen_new_address_button").hide();
                        show_deposit_address(data);
                    });
                });

                // Initialize channel balance bars and show/hide button
                {% for c in channels %}
                    $( "#channel_bar_{{ c.chan_id }}" ).progressbar({
                        value: Math.floor( {{ c.chan_percent }} )
                    });
                    $('#channel_bar_{{ c.chan_id }}').height(15);

                    show_channel_{{ c.chan_id }}_details = false;
                    $("#show_channel_{{ c.chan_id }}").on("click", function() {
                        if (show_channel_{{ c.chan_id }}_details == true) {
                            $("#channel_table_{{ c.chan_id }}").slideUp(400);
                            $("#show_channel_{{ c.chan_id }}").html("Show Details");
                        } else {
                            $("#channel_table_{{ c.chan_id }}").slideDown(400);
                            $("#show_channel_{{ c.chan_id }}").html("Hide Details");
                        }
                        show_channel_{{ c.chan_id }}_details = ! show_channel_{{ c.chan_id }}_details;
                    });
                {% endfor %}     
            });
        </script>
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>

        {% include 'includes/message_display.html' %}

        <div class="main_header">Lightning Status</div>
        <br/>

{% if lnd_has_error %}
        <div class="main_page_error_block">
            <p style="text-align: center;"><b>Warning!</b><br/>The LND service is not running properly. Please check the log on the <a href="/status">Status</a> page.</p>
        </div>
{% endif %}
        
{% if not wallet_exists %}
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Manage Wallet</div>
                <div class="info_tile_contents" style="width: 280px;">
                    <a class="ui-button ui-widget ui-corner-all" style="width: 210px; margin-bottom: 15px;" href="/lnd/create_wallet">Create Wallet</a>
                    <a class="ui-button ui-widget ui-corner-all" style="width: 210px; margin-bottom: 15px;" href="/lnd/create_wallet_with_seed">Restore Wallet from Seed</a>
                </div>
            </div>
        </div>

        {% if using_lnd_custom_config %}
        <!-- Show link to config in case custom config is causing problems -->
        <div class="app_tile_row" style="margin-top: 50px;">
            <div class="info_tile">
                <div class="info_tile_header">Config</div>
                <div class="info_tile_contents">
                    <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 100px;" href="/lnd/config">view / edit</a>
                </div>
            </div>
        </div>
        {% endif %}
{% endif %}


        <div class="app_tile_row">
{% if wallet_exists and wallet_logged_in %}
            <!-- Status Tile -->
            <div class="info_tile">
                <div class="info_tile_header">Status</div>
                <div class="info_tile_contents">
                    <table class="info_table">
                        <tr>
                            <th>Status</th>
                            <td>{{status}}</td>
                        </tr>
                        <tr>
                            <th>Height</th>
                            <td>{{height}}</td>
                        </tr>
                        <tr>
                            <th>Num Peers</th>
                            <td>{{num_peers}}</td>
                        </tr>
                        <tr>
                            <th>DB Size</th>
                            <td>{{channel_db_size}}</td>
                        </tr>
                        {% if is_testnet_enabled %}
                        <tr>
                            <th>Network</th>
                            <td>Testnet</td>
                        </tr>
                        {% endif %}
                        <th>Pair Wallet</th>
                            <td>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" id="pair_wallet" style="width: 70%;" href="#">Pair Wallet</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
{% endif %}

{% if wallet_exists or channel_backup_exists %}
            <!-- Lightning Tile -->
            <div class="info_tile">
                <div class="info_tile_header">Lightning</div>
                <div class="info_tile_contents">
                    <table class="info_table">
{% if wallet_logged_in %}
                        <tr>
                            <th>Lightning Terminal</th>
                            <td>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" id="lit" style="width: 100px;" href="#">open</a>
                                <span id="lit_password" style="display: none; margin: 0;">{{lit_password}} <span id="copy_lit_password" class="ui-icon ui-icon-copy" style="cursor: pointer; display: none;" title="Copy Password"></span></span>
                                
                                <a id="show_lit_password" class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 100px;">show password</a>
                            </td>
                        </tr>
{% endif %}
{% if wallet_exists %}
                        <tr>
                            <th>TLS Certificate</th>
                            <td>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 100px;" href="/lnd/tls.cert">download</a>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 100px;" href="/lnd/regen_tls_cert">regenerate</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Macaroons</th>
                            <td>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" id="admin_macaroon" href="/lnd/admin.macaroon">admin</a>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" id="readonly_macaroon" href="/lnd/readonly.macaroon">readonly</a>
                            </td>
                        </tr>
{% endif %}
{% if channel_backup_exists %}
                        <tr>
                            <th>Channel Backup</th>
                            <td>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 100px;" href="/lnd/channel.backup">download</a>
                            </td>
                        </tr>
{% endif %}
                        <tr>
                            <th>Watchtower</th>
                            <td>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 100px;" href="/lnd/watchtower">open</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Config</th>
                            <td>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 100px;" href="/lnd/config">view / edit</a>
                            </td>
                        </tr>
{% if wallet_exists %}
                        <tr>
                            <th>Alias</th>
                            <td>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" id="change_alias" href="#"><span class="ui-icon ui-icon-gear"></a>
                                {{alias}}
                            </td>
                        </tr>
                        <!--
                        <tr>
                            <th>Ports (gRPC/REST)</th>
                            <td>10009 / 10080</td>
                        </tr>
                        -->
{% endif %}
                    </table>
                </div>
            </div>

{% if wallet_exists %}
            <!-- Version Tile -->
            <div class="info_tile">
                <div class="info_tile_header">Versions</div>
                <div class="info_tile_contents">
                    <table class="info_table">
                        <tr>
                            <th>LND Version</th>
                            <td>{{version}}</td>
                        </tr>
                        <tr>
                            <th>Loop Version</th>
                            <td>{{loop_version}}</td>
                        </tr>
                        <tr>
                            <th>Pool Version</th>
                            <td>{{pool_version}}</td>
                        </tr>
                    </table>
                </div>
            </div>
{% endif %}  
{% endif %}
        </div>

{% if wallet_logged_in %}
        <!-- URI Tile / Row -->
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">URI</div>
                <div class="info_tile_contents" style="font-size: 12px;">{{uri}}</div>
            </div>
        </div>
{% endif %}

{% if wallet_exists and not wallet_logged_in %}
        <!-- Status Tile / Row (should be only shown short term) -->
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Status</div>
                <div class="info_tile_contents">{{status}}</div>
            </div>
        </div>
{% endif %}


{% if wallet_exists and wallet_logged_in %}
    <br/>
    <div class="main_header">Balances</div>
    <div class="app_tile_row">
        {% if lnd_deposit_address != "ERROR" %}
        <div class="info_tile" style="min-width: 280px;">
            <div class="info_tile_header">Deposit Address</div>
            <div class="info_tile_contents">
                <img id="lnd_deposit_address_qrcode" style='width: 150px; height: 150px; margin: auto; margin-bottom: 5px;' src='/api/get_qr_code_image?url={{ lnd_deposit_address }}' title="{{ lnd_deposit_address }}"/>
                <br/>
                <div id="lnd_deposit_address_text" style="font-size: 12px; margin-bottom: 5px;">{{ lnd_deposit_address }}</div>
                <button id="gen_new_address_button" class="ui-button ui-widget ui-corner-all mynode_button_small">Generate New Address</button>
            </div>
        </div>
        {% endif %}

        <div class="info_tile">
            <div class="info_tile_header">Balances</div>
            <div class="info_tile_contents">
                <table class="info_table">
                    <tr>
                        <th><b>On-chain Balance</b></th>
                        <td>
                            {{ wallet_balance }} sats
                            {% if wallet_pending != "0" %}
                            &nbsp;&nbsp;({{ wallet_pending }} pending)
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th><b>Channel Balance</b></th>
                        <td>
                            {{ channel_balance }} sats
                            {% if channel_pending != "0" %}
                            &nbsp;&nbsp;({{ channel_pending }} pending)
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    {% if transactions and transactions|length > 0 or payments and payments|length > 0 or invoices and invoices|length > 0 %}
        <br/>
        <div class="main_header">Recent Transactions</div>
        <div class="app_tile_row">
        {% if transactions and transactions|length > 0 %}
            <table style="font-size: 12px; width: 300px; margin: 10px;" class="bitcoin_table">
                <thead class="bitcoin_table_header">
                    <td colspan=9 style="text-align: center;">On-chain</td>
                </thead>
                <thead class="bitcoin_table_header">
                    <td>Date</td>
                    <td>Amount</td>
                    <td>Confirmations</td>
                </thead>
                <tbody>
                    {% for tx in transactions[:tx_display_limit] %}
                        <tr>
                            <td>{{ tx.date_str }}</td>
                            <td>{{ tx.amount_str }}</td>
                            <td>{{ tx.num_confirmations }}</td>
                        </tr>
                    {% endfor %}
                    {% if transactions|length >= tx_display_limit %}
                       <tr><td colspan=9>more...</td></tr>
                    {% endif %}
                </tbody>
            </table>
        {% endif %}

        {% if payments and payments|length > 0 %}
            <table style="font-size: 12px; width: 300px; margin: 10px;" class="bitcoin_table">
                <thead class="bitcoin_table_header">
                    <td colspan=9 style="text-align: center;">Payments</td>
                </thead>
                <thead class="bitcoin_table_header">
                    <td>Date</td>
                    <td>Amount</td>
                    <td>Fee</td>
                    <!--<td>Status</td>-->
                </thead>
                <tbody>
                    {% for tx in payments[:tx_display_limit] %}
                        <tr>
                            <td>{{ tx.date_str }}</td>
                            <td>{{ tx.value_str }}</td>
                            <td>{{ tx.fee_str }}</td>
                            <!--<td>{{ tx.status }}</td>-->
                        </tr>
                    {% endfor %}
                    {% if payments|length >= tx_display_limit %}
                        <tr><td colspan=9>more...</td></tr>
                    {% endif %}
                </tbody>
            </table>
        {% endif %}

        {% if invoices and invoices|length > 0 %}
            <table style="font-size: 12px; width: 300px; margin: 10px;" class="bitcoin_table">
                <thead class="bitcoin_table_header">
                    <td colspan=9 style="text-align: center;">Invoices</td>
                </thead>
                <thead class="bitcoin_table_header">
                    <td>Date</td>
                    <td>Amount</td>
                    <td>Memo</td>
                    <td>State</td>
                </thead>
                <tbody>
                    {% for tx in invoices[:tx_display_limit] %}
                        <tr>
                            <td>{{ tx.date_str }}</td>
                            <td>{{ tx.value_str }}</td>
                            <td>
                                {% if tx.memo != "" %}
                                    <img style="width: 16px;" src="{{ url_for('static', filename="images/memo.png")}}" title="{{ tx.memo }}"/>
                                {% endif %}
                            </td>
                            <td>{{ tx.state }}</td>
                        </tr>
                    {% endfor %}
                    {% if invoices|length >= tx_display_limit %}
                        <tr><td colspan=9>more...</td></tr>
                    {% endif %}
                </tbody>
            </table>
        {% endif %}
        </div>
    {% endif %}

    {% if channels and channels|length > 0 %}
    <br/>
    <div class="main_header">Channels</div>
    
    <div class="app_tile_row">
        <div class="lightning_channel_container" style="width: 1000px;">
            {% for c in channels %}
            <div class="lightning_channel">
                <div class="lightning_channel_top_row">
                    <div class="lightning_channel_label"><span class="lightning_channel_status_icon {{ c.status_color }}"></span> {{ c.remote_alias }}</div>
                    <button id="show_channel_{{ c.chan_id }}" class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 100px; float: right;">Show Details</button>
                </div>
                <div id="channel_bar_{{ c.chan_id }}" class="lightning_channel_bar"></div>
                <div id="channel_local_{{ c.chan_id }}" class="lightning_channel_bar_label_left">{{c.local_balance}} sats</div>
                <div id="channel_remote_{{ c.chan_id }}" class="lightning_channel_bar_label_right">{{c.remote_balance}} sats</div>
            </div>
            <br/>

            <div id="channel_table_{{ c.chan_id }}" style="display: none; margin-bottom: 40px;">
                <table  class="bitcoin_table" >
                    <thead class="bitcoin_table_header">
                        <td>Peer Alias</td>
                        <td>Active</td>
                        <td>Capacity</td>
                        <td>Local Capacity</td>
                        <td>Remote Capacity</td>
                        <td>Commit Fee</td>
                        <td>Age</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ c.remote_alias }}</td>
                            <td>{{ c.active }}</td>
                            <td>{{ c.capacity }}</td>
                            <td>{{ c.local_balance }}</td>
                            <td>{{ c.remote_balance }}</td>
                            <td>{{ c.commit_fee }}</td>
                            <td>{{ c.age }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if peers and peers|length > 0 %}
    <br/>
    <div class="main_header">Peers</div>
    <div class="app_tile_row">
        <table class="bitcoin_table">
            <thead class="bitcoin_table_header">
                <td>Alias</td>
                <td>Pub Key</td>
                <!--<td>Address</td>-->
                <td>Sats TX</td>
                <td>Sats RX</td>
                <!--<td>Sync Type</td>-->
            </thead>
            <tbody>
                {% for peer in peers %}
                    <tr>
                        <td>{{ peer.alias }}</td>
                        <td style="font-size: 12px;">{{ peer.pub_key }}</td>
                        <!--<td>{{ peer.address }}</td>-->
                        <td>{{ peer.sat_sent }}</td>
                        <td>{{ peer.sat_recv }}</td>
                        <!--<td>{{ peer.sync_type }}</td>-->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endif %}

{% if wallet_exists and wallet_logged_in %}
    <br/><br/>
    <div class="main_header">Access your Wallet</div>
        <div class="main_header_sub_text">
            There are numerous ways to access and manage your wallet. Choose any option below!
        </div>
        <div class="app_tile_row">
            <div class="app_tile_short">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/rtl.png")}}"/></div>
                <div class="app_title">RTL</div>
                <div class="app_status"></div>
                <div class="app_contents">
                    <a class="ui-button ui-widget ui-corner-all mynode_button" href="#" id="rtl">Open Wallet</a>
                    <a class="ui-button ui-widget ui-corner-all mynode_button" href="https://mynodebtc.github.io/lightning/rtl.html" target="_blank">RTL Guide</a>
                </div>
            </div>

            <div class="app_tile_short">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/thunderhub.png")}}"/></div>
                <div class="app_title">Thunderhub</div>
                <div class="app_status"></div>
                <div class="app_contents">
                    {% if is_community_edition %}
                    Premium Feature
                    {% else %}
                    <a class="ui-button ui-widget ui-corner-all mynode_button" href="#" id="thunderhub">Open Wallet</a>
                    {% endif %}
                </div>
            </div>

            <div class="app_tile_short">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/zap.png")}}"/></div>
                <div class="app_title">Zap</div>
                <div class="app_status"></div>
                <div class="app_contents">
                    <a class="ui-button ui-widget ui-corner-all mynode_button" href="https://mynodebtc.github.io/lightning/zap.html" target="_blank">Zap Guide</a>
                </div>
            </div>

            <div class="app_tile_short">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/bluewallet.png")}}"/></div>
                <div class="app_title">BlueWallet</div>
                <div class="app_status"></div>
                <div class="app_contents">
                    <a class="ui-button ui-widget ui-corner-all mynode_button" href="https://mynodebtc.github.io/lightning/bluewallet.html" target="_blank">BlueWallet Guide</a>
                </div>
            </div>

        </div>
{% endif %}

        <div id="change-alias-dialog" title="Change LND Alias" style="display:none;">
            <form id="change_alias_form" name="change_alias_form" action="/lnd/change_alias" method="POST">
                <p>The LND alias is a public name for your lightning node and you can modify it with the form below.</p>
                <b>New Alias:</b>
                <br/>
                <input type="text" name="alias" id="alias" value="" class="text ui-widget-content ui-corner-all" size="34" maxlength="34">

                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        <div id="pair-wallet-dialog" title="Pair Wallet" style="display:none;">
            <form id="pair_wallet_form" name="pair_wallet_form" action="/lnd/pair_wallet" method="POST">
                <p>Pairing a wallet will give another device access to your Lightning Wallet! Do not share this info with others
                    or they will be able to control your funds.</p>
                <p>Please enter your password to view your pairing information.</p>
                <b>Password:</b>
                <br/>
                <input type="password" name="password_pair_wallet" id="password_pair_wallet" value="" class="text ui-widget-content ui-corner-all">
            
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        <div id="alert_popup" class="bottom_center_alert_popup"></div>

        {% include 'includes/footer.html' %}
    </body>
</html>