<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}

        <style>
            .ui-tooltip {
                
                font-size: 16px;
                width: 400px;
                max-width: 400px;
                
            }

            {% if not is_connected %}
            .connected-style {
                color: #AAAAAA;
            }
            {% else %}
            .connected-style {
                
            }
            {% endif %}
        </style>

        <script>
            $(document).ready(function() {

                $( document ).tooltip();

                token="{{access_token}}"

                function set_token() {
                    $("#set_token_form").submit();
                    set_token_dialog.dialog( "close" );
                }
                set_token_dialog = $( "#set-token-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "Save": set_token,
                        Cancel: function() {
                            set_token_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#token").val(token)
                    }
                });

                $("#change_token_button").on("click", function() {
                    set_token_dialog.dialog( "open" );
                });
                $("#set_token_button").on("click", function() {
                    set_token_dialog.dialog( "open" );
                });
                $("#clear_token_button").on("click", function() {
                    if (confirm("Are you sure you want to clear your Premium+ Access Token?")) {
                        window.location.href='/premium-plus/clear-token';
                    }
                });

                $("#sync_button").on("click", function() {
                    $('#loading_spinner_overlay').fadeIn();
                    window.location.href='/premium-plus/sync';
                });


                $('#sync_status_checkbox').change(function () {
                    $("#sync_status_save").show();
                });
                $("#sync_status_save").on("click", function() {
                    enabled=$('#sync_status_checkbox').is(":checked");
                    if (enabled)
                    {
                        window.location.href='/premium-plus/toggle-setting?name=sync_status&enabled=1';
                    }
                    else
                    {
                        window.location.href='/premium-plus/toggle-setting?name=sync_status&enabled=0';
                    }
                });

                $('#sync_bitcoin_and_lightning_checkbox').change(function () {
                    $("#sync_bitcoin_and_lightning_save").show();
                });
                $("#sync_bitcoin_and_lightning_save").on("click", function() {
                    enabled=$('#sync_bitcoin_and_lightning_checkbox').is(":checked");
                    if (enabled)
                    {
                        window.location.href='/premium-plus/toggle-setting?name=sync_bitcoin_and_lightning&enabled=1';
                    }
                    else
                    {
                        window.location.href='/premium-plus/toggle-setting?name=sync_bitcoin_and_lightning&enabled=0';
                    }
                });

                $('#backup_scb_checkbox').change(function () {
                    $("#backup_scb_save").show();
                });
                $("#backup_scb_save").on("click", function() {
                    enabled=$('#backup_scb_checkbox').is(":checked");
                    if (enabled)
                    {
                        window.location.href='/premium-plus/toggle-setting?name=backup_scb&enabled=1';
                    }
                    else
                    {
                        window.location.href='/premium-plus/toggle-setting?name=backup_scb&enabled=0';
                    }
                });

                $('#watchtower_checkbox').change(function () {
                    $("#watchtower_save").show();
                });
                $("#watchtower_save").on("click", function() {
                    enabled=$('#watchtower_checkbox').is(":checked");
                    if (enabled)
                    {
                        window.location.href='/premium-plus/toggle-setting?name=watchtower&enabled=1';
                    }
                    else
                    {
                        window.location.href='/premium-plus/toggle-setting?name=watchtower&enabled=0';
                    }
                });

                //$( document ).tooltip();

                $( document ).tooltip({
                    items: "[title]",
                    content: function() {
                        var element = $( this );
                        if ( element.is( "[title]" ) ) {
                            text =  "<b>"+element.attr( "title" )+"</b>"
                            text += "<br/><br/>";
                            text += ""+element.attr( "msg" )+"";
                            return text;
                        }
                    }
                });
            });
        </script>
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>

        {% include 'includes/message_display.html' %}

        <div class="main_header">Premium+</div>
        <br/>

        <!-- Config and Status Row -->
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Access Token and Status</div>
                <div class="info_tile_contents">
                    <table class="info_table">
                        <tr>
                            <th>Access Token</th>
                            <td>
                                {% if has_access_token %}
                                    {{access_token}} 
                                    <button id="change_token_button" class="ui-button ui-widget ui-corner-all settings_button_small">Change</button>
                                    <button id="clear_token_button" class="ui-button ui-widget ui-corner-all settings_button_small">Clear</button>
                                {% else %}
                                    <button id="set_token_button" class="ui-button ui-widget ui-corner-all settings_button_small">Set Token</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% if has_access_token %}
                        <tr>
                            <th>Status</th>
                            <td>{{status_text}}</td>
                        </tr>
                        <tr>
                            <th>Last Sync</th>
                            <td>{{last_sync}}</td>
                        </tr>
                        <tr>
                            <th>Actions</th>
                            <td><button id="sync_button" class="ui-button ui-widget ui-corner-all mynode_button_small">Force Sync</button></td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
        <br/>

        <!-- Premium+ Services -->
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Premium+ Services</div>
                <div class="info_tile_contents">
                    <table class="info_table">
                        <tr>
                            <th class="connected-style">Sync Device Status</th>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" id="sync_status_checkbox" {% if premium_plus_settings['sync_status'] %}checked{% endif %} {% if not is_connected %}disabled{% endif %}>
                                    <span class="slider round"></span>
                                </label>
                                <button id="sync_status_save" style="display: none; float: right;" class="ui-button ui-widget ui-corner-all settings_button_small">Save</button>
                            </td>
                            <td>
                                <img style="width: 16px; margin-left: 10px;" src="{{ url_for('static', filename="images/tooltip_icon.png")}}" title="Sync Device Status" msg="Syncing your node's status will allow you to see basic node information via mynodebtc.com. Info like app status, drive usage, and uptime will be available online.">
                            </td>
                        </tr>
                        <tr>
                            <th class="connected-style">Sync Bitcoin and Lightning Info</th>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" id="sync_bitcoin_and_lightning_checkbox" {% if premium_plus_settings['sync_bitcoin_and_lightning'] %}checked{% endif %} {% if not is_connected %}disabled{% endif %}>
                                    <span class="slider round"></span>
                                </label>
                                <button id="sync_bitcoin_and_lightning_save" style="display: none; float: right;" class="ui-button ui-widget ui-corner-all settings_button_small">Save</button>
                            </td>
                            <td>
                                <img style="width: 16px; margin-left: 10px;" src="{{ url_for('static', filename="images/tooltip_icon.png")}}" title="Sync Bitcoin and Lightning Info" msg="Syncing your node's Bitcoin and Lightning information will allow you to view that information via mynodebtc.com. Bitcoin information (block height, peers, etc...) and Lightning information (peers, channels, balances, etc...) will be available online. Some information may be considered sensitive.">
                            </td>
                        </tr>
                        <tr>
                            <th class="connected-style">Remote Channel Backup</th>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" id="backup_scb_checkbox" {% if premium_plus_settings['backup_scb'] %}checked{% endif %} {% if not is_connected %}disabled{% endif %}>
                                    <span class="slider round"></span>
                                </label>
                                <button id="backup_scb_save" style="display: none; float: right;" class="ui-button ui-widget ui-corner-all settings_button_small">Save</button>
                            </td>
                            <td>
                                <img style="width: 16px; margin-left: 10px;" src="{{ url_for('static', filename="images/tooltip_icon.png")}}" title="Remote Channel Backup" msg="Enabling Remote Channel Backup creates another layer of defense. An online backup of your encrypted SCB file is made to help prevent loss of funds in case of physical hardware failure.">
                            </td>
                        </tr>
                        <tr>
                            <th class="connected-style">Lightning Watchtower</th>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" id="watchtower_checkbox" {% if premium_plus_settings['watchtower'] %}checked{% endif %} {% if not is_connected %}disabled{% endif %}>
                                    <span class="slider round"></span>
                                </label>
                                <button id="watchtower_save" style="display: none; float: right;" class="ui-button ui-widget ui-corner-all settings_button_small">Save</button>
                            </td>
                            <td>
                                <img style="width: 16px; margin-left: 10px;" src="{{ url_for('static', filename="images/tooltip_icon.png")}}" title="Lightning Watchtower" msg="Enabling the Lightning Watchtower starts an external node to monitor your Lightning channels, helping detect and prevent malicious actions by peers.">
                            </td>
                        </tr>
                        <tr>
                            <th class="connected-style">Proxy</th>
                            <td class="connected-style">
                                Coming soon!
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div id="set-token-dialog" title="Set Premium+ Access Token" style="display:none;">
            <form id="set_token_form" name="set_token_form" action="/premium-plus/set-token" method="POST">
                <p>The Premium+ Access Token is the key that syncs your node data for backup and remote access.</p>
                <b>Access Token:</b>
                <br/>
                <input type="text" name="token" id="token" value="" class="text ui-widget-content ui-corner-all" size="40" maxlength="64">

                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        <div id="loading_spinner_overlay" class="loading_spinner_overlay" style="display:none;">
            <img id="loading_spinner" class="loading_image" src="{{ url_for('static', filename="images/loading.gif")}}"/>
            <br/>
            Loading...
        </div>

        {% include 'includes/footer.html' %}
     </body>
</html>